.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: auto;
  padding: 40px 40px 60px;
  background-color: #1c1c21;
  border-radius: 40px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header {
  display: flex;
  align-items: center;
  min-height: 64px;
  position: relative;
  padding: 0 24px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: calc(100% - 80px);
  padding: 0 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title_centered {
  width: 100%;
}

.button {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.img {
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
