.content {
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 520px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px;
}

.pageTitle {
  margin: 0 0 20px;
}

.nutritional_values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #8585ad;
}

.nutritional_value {
  display: flex;
  flex-direction: column;
  align-items: center;
}
