.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  transition: none;
}

.link:visited,
.link:active,
.link:hover {
  color: #8585ad;
  text-decoration: none;
}

.link svg {
  fill: #8585ad;
}

.link_active {
  color: var(--text-primary-color);
}

.link_active:visited,
.link_active:active,
.link_active:hover {
  color: var(--text-primary-color);
  text-decoration: none;
}

.link_active svg {
  fill: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
